@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #1a1c1c;
  --primary: #ffc847;
  --cards: #ffffff;
  --border: #e5e7eb;
  --section: #e2e2e2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-cards: var(--cards);
  --color-border: var(--border);
  --color-section: var(--section);
  --font-sans: var(--font-inter-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter-sans), system-ui, ui-sans-serif;
}

mark {
  color: var(--color-primary);
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-family: var(--font-sans);
}

html {
  scroll-behavior: smooth;
}

.required::after {
  content: " *";
  color: #ef4444;
  font-weight: bold;
}
